<div>
  <h1>Autores</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha de nacimiento</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.id %></td>
          <td><%= author.name %></td>
          <td><%= author.date_of_birth %></td>
          <td><%= link_to "Show", author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Nuevo Autor", new_author_path %>
</div>
